<div class="overlay overlay-boxify">
        <nav>
            <ul>
                <li><a href="#about"><i class="fa fa-heart"></i>about</a></li>
                <li><a href="https://docs.rpilot.net"><img src="/hardware/assets/img/books.svg" />Docs</a></li>
            </ul>
            <ul>
                <li><a href="/hardware"><img src="/hardware/assets/img/tools-solid.svg" /> Hardware</a></li>
                <li><a href="https://git.io/auto-pi-lot"><i class="fa fa-github"></i>Source</a></li>
            </ul>
        </nav>
    </div>
